@model LibraryMS.Models.Rental

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        <dt>
            @Html.DisplayNameFor(model => model.bookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rentalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.returnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.returnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
