@using LibraryMS.Models
@model IEnumerable<Rental>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateRental")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.bookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rentalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.returnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rentalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.returnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
